.cards-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
}

.Card {
    background: var(--bg-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Card span {
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0 0 20px 0;
}