.Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: .5rem;
    box-shadow: 0 0 0 1px rgb(104, 95, 95);
    border-radius: var(--border-radius);
    padding: .5rem;
}

.Left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgb(104, 95, 95);
}

.LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: .5rem;
}

.LeftContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
    padding: .5rem;
}

.Left p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: .5rem;
    padding: .5rem;
}

.Left button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
    padding: .5rem;
    border: none;
    cursor: pointer;
}

.Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgb(104, 95, 95);
}