.Login {
    display: flex;
    justify-content: center;
    align-items: center;

}

.LoginContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: .5rem;
    gap: 1rem;
}

.Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgb(104, 95, 95);
}

.Left h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid var(--accent-color);
    margin-bottom: .5rem;
}

.LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.LeftContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgb(104, 95, 95);
}



.FormBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgb(104, 95, 95);
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.Form h1 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid var(--accent-color);
    margin-bottom: .5rem;
}

.FormInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FormInput input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: none;
    outline: none;
    margin: .5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-bottom: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
}

.FormInput input:focus {
    border-bottom: 1px solid var(--primary-color);
}


.FormInput input:focus::placeholder {
    color: var(--primary-color);
}

.Checkbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.FormCheckbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: .5rem;

}

.FormButton {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.FormButton button {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-weight: 600;
    margin: .5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all .5s ease-in;
}

.FormButton button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--accent-color);
}

.FormButton button:active {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.FormButton button:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.FormButton button:disabled {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.FormButton button:disabled:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.FormButton button:disabled:active {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.FormBox {
    margin: .5rem;
}