:root {
    --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --orange: #fca61f;
    --black: #242d49;
    --gray: #788097;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --pink: #FF919D;
    --glass: rgba(255, 255, 255, 0.54);
    --boxShadow: 0 0 0 1px rgba(245, 241, 241, 0.08);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #f799a354;
    --bg-color: hsl(240, 3%, 15%);
    --bg-color-danger: hsl(0, 48%, 47%);
    --bg-color-success: hsl(112, 34%, 46%);
    --bg-color-clear: hsla(240, 3%, 15%, 0.749);
    --text-color: hsl(0, 0%, 100%);
    --accent-color: hsl(39, 48%, 57%);
    --font-family: 'Raleway', sans-serif;
    --border-radius: 0.5rem;
    --bg-color: hsl(240, 3%, 15%);
    --bg-color-clear: hsla(240, 3%, 15%, 0.749);
    --text-color: hsl(0, 0%, 100%);
    --accent-color: hsl(39, 48%, 57%);
    --font-family: 'Raleway', sans-serif;
    --border-radius: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background: var(--bg-color);
    height: 100vh;
    width: 100%;
}

.App {
    background: rgb(16, 36, 42);
    height: 100vh;
    width: 100%;
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppGlass {
    height: 98%;
    width: 98%;
    background: rgb(16, 36, 42);
    display: grid;
    grid-template-columns: 15% auto 20%;
    border-radius: var(--border-radius);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 3px rgba(214, 205, 205, 0.08);
    border-radius: var(--border-radius);
    overflow: hidden;
}

h3 {
    color: var(--accent-color);
    margin: 1rem;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.Loading {
    width: 100%;
    height: 100vh;
    background: rgb(16, 36, 42);
}

.LoadingContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: rgb(16, 36, 42);
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: var(--accent-color);
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--accent-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.LoadingContainer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.LoadingContainer:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.Loading span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.Loading span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--accent-color);
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px var(--accent-color);
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}